.element {
    margin-bottom:30px;
    filter: drop-shadow(0 0 1em rgba(59,121,246,0.15));
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.title{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.87);

}
.input{
    background-color: #171717;
    border:1px solid #272727;
    border-radius:8px;
    font-size: 16px;
    height:40px;
    width:100%;
    color: gray;
}
.input.focus{
    outline: none;
    color: rgb(255, 255, 255);
    border-color: rgba(38, 94, 204, 0.55);
}